header {
  top: 0;
  left: 0;
  background-color: #ffffff;
  text-align: left;
  display: flex;
  width: 256px;
  height: 100%;
  flex-direction: column;
  justify-content: left;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  @include mobile {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    .title {
      padding: 17px 0 17px 24px;
      font-family: "Open Sans";
      font-size: 18px;
      color: #109cf1;
      text-decoration: none;
      border-bottom-color: #ebeff2;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      @include mobile {
        padding: 17px 0 17px 55px;
      }
    }
    .profile {
      padding: 24px;
      text-decoration: none;
      .profileWrap {
        display: flex;
        flex-direction: row;
        .imgProfile {
          border-radius: 100%;
        }
        .profileWrap2 {
          display: flex;
          flex-direction: column;
          font-family: "Poppins";
          .nameUser {
            color: #192a3e;
            font-size: 14px;
            margin: 0 0 0 15px;
          }
          .emailUser {
            color: #90a0b7;
            font-size: 11px;
            margin: 0 0 0 15px;
          }
        }
      }
    }
  }
  .dashboard {
    .dashboard1 {
      display: block;
    }
    .dashboard2 {
      display: none;
    }
    &.dashboardActive {
      .dashboard1 {
        display: none;
      }
      .dashboard2 {
        display: block;
      }
    }
  }
  .tasks {
    display: flex;
    flex-direction: column !important;
    .tasksWrap {
      display: flex;
      flex-direction: row;
      .tasks1 {
        display: block;
      }
      .tasks2 {
        display: none;
      }
    }
    ul {
      display: none;
    }
    &.tasksActive {
      .tasksWrap {
        .tasks1 {
          display: none;
        }
        .tasks2 {
          display: block;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        li {
          padding: 3px 0 3px 35px;
          font-family: "Poppins";
          font-size: 13px;
          color: #334d6e;
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .email {
    display: flex;
    flex-direction: column !important;
    .emailWrap {
      display: flex;
      flex-direction: row;
      .email1 {
        display: block;
      }
      .email2 {
        display: none;
      }
    }
    ul {
      display: none;
    }
    &.emailActive {
      .emailWrap {
        .email1 {
          display: none;
        }
        .email2 {
          display: block;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        li {
          padding: 3px 0 3px 35px;
          font-family: "Poppins";
          font-size: 13px;
          color: #334d6e;
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .contacts {
    .contacts1 {
      display: block;
    }
    .contacts2 {
      display: none;
    }
    &.contactsActive {
      .contacts1 {
        display: none;
      }
      .contacts2 {
        display: block;
      }
    }
  }
  .chat {
    .chat1 {
      display: block;
    }
    .chat2 {
      display: none;
    }
    &.chatActive {
      .chat1 {
        display: none;
      }
      .chat2 {
        display: block;
      }
    }
  }
  .deals {
    display: flex;
    flex-direction: column !important;
    .dealsWrap {
      display: flex;
      flex-direction: row;
      .deals1 {
        display: block;
      }
      .deals2 {
        display: none;
      }
    }
    ul {
      display: none;
    }
    &.dealsActive {
      .dealsWrap {
        .deals1 {
          display: none;
        }
        .deals2 {
          display: block;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        li {
          padding: 3px 0 3px 35px;
          font-family: "Poppins";
          font-size: 13px;
          color: #334d6e;
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .settings {
    .settings1 {
      display: block;
    }
    .settings2 {
      display: none;
    }
    &.settingsActive {
      .settings1 {
        display: none;
      }
      .settings2 {
        display: block;
      }
    }
  }
  .navigation {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 9px 24px;
    color: #334d6e;
    .titles {
      margin: 0 0 0 15px;
      font-family: "Poppins";
      font-size: 13px;
    }
  }
  .settings {
    border-top-color: #ebeff2;
    border-top-width: 1px;
    border-top-style: solid;
  }
  .toggle {
    align-items: flex-end;
    color: #90a0b7;
    margin-top: auto;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include mobile {
      position: absolute;
      margin: 22px 0 17px 24px;
      padding: 0;
    }

    span {
      @include mobile {
        display: none;
      }
    }
  }
  &.hidden {
    width: 68px;
    @include mobile {
      position: relative;
      width: 100%;
      height: 60px;
    }
    .title {
      justify-content: center;
      padding: 17px 12px;
      @include mobile {
        padding: 17px 0 17px 55px;
      }
      .titleHid {
        display: none;
      }
    }
    .profile {
      padding: 24px 11px;
      @include mobile {
        display: none;
      }
      .profileWrap {
        .profileWrap2 {
          display: none;
        }
      }
    }
    .navigation {
      @include mobile {
        display: none;
      }
      &.toggle {
        display: flex;
      }
      .titles {
        display: none;
      }
      ul {
        display: none;
      }
    }
  }
}
