.App {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  .App {
    flex-direction: column;
  }
}

body {
  background-color: #e5e5e5;
  margin: 0;
}
